{% extends 'LesBonnesChosesBundle::layout.html.twig' %}

{% block content_header '' %}

{% block content %}

  <section id="page-header">

    <div style="background-image: url({% block image '' %})">
      <div>
        <h1>{% block title '' %}</h1>

        {% block catcher '' %}
      </div>
    </div>

  </section>

  <section id="page-body">
    {% block body '' %}
  </section>

{% endblock %}