/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
  font-family: 'MavenPro';
  src: url('../fonts/MavenPro-Regular.eot');
  src: local('☺'), url('../fonts/MavenPro-Regular.woff') format('woff'), url('../fonts/MavenPro-Regular.ttf') format('truetype'), url('../fonts/MavenPro-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Blanch';
  src: url('../fonts/BLANCH_CONDENSED.eot');
  src: local('☺'), url('../fonts/BLANCH_CONDENSED.woff') format('woff'), url('../fonts/BLANCH_CONDENSED.ttf') format('truetype'), url('../fonts/BLANCH_CONDENSED.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fontello';
  src: url('../fonts/fontello.eot');
  src: local('☺'), url('../fonts/fontello.woff') format('woff'), url('../fonts/fontello.ttf') format('truetype'), url('../fonts/fontello.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* ==========================================================================
   Base
   ========================================================================== */

html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
  font-family: 'MavenPro';
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Blanch';
}

/* ==========================================================================
   Layout
   ========================================================================== */

html,
body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  background: #fff;
}

header {
  background: #f8f8f8;
}

header nav {
  background: #fff;
  width: 1024px;
  margin: 0 auto;
  position: relative;
  height: 70px;
  line-height: 70px;
}

header nav a {
  color: inherit;
  text-decoration: none;
}

header nav h1 {
  margin: 0;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  line-height: 76px;
  color: #111;
  font-size: 2.3em;
}

header nav h1 a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  background: #4f4f4f url(../images/logo@2x.png);
  background-size: 70px 70px;
  transition: .25s;
}

header nav h1 a:hover::before {
  opacity: .9;
}

header nav ul {
  margin: 0;
  padding: 0;
  position: absolute;
  cursor: default;
  list-style: none;
}

header nav ul li {
  display: inline-block;
  width: 70px;
  color: #aaa;
  text-transform: uppercase;
  font-size: .8em;
  cursor: default;
}

header nav ul li a {
  color: #aaa;
  transition: .1s;
}

header nav ul li a:hover {
  color: #555;
}

header nav ul:first-of-type {
  left: 220px;
  top: 0px;
  text-align: right;
}

header nav ul:last-of-type {
  right: 220px;
  top: 0px;
}

div.main {
  min-height: 800px;
}

footer {
  width: 1024px;
  margin: 60px auto;
  border-top: 3px solid #f3f3f3;
  padding-top: 15px;
  color: #ccc;
  font-size: 0.8em;
}

footer a {
  color: inherit;
}

/* ==========================================================================
   Home
   ========================================================================== */

#home #caroussel {
  background: #f8f8f8;
  height: 380px;
  position: relative;
  overflow: visible !important;
}

#home #caroussel::before {
  content: '';
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f8f8f8;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  bottom: -15px;
  transition: .1s;
}

html.no-js #home #caroussel {
  height: 370px;
  overflow: hidden !important;
}

#home #caroussel nav {
  width: 1024px;
  margin: auto;
  padding: 20px 0;
}

html.no-js #home #caroussel nav {
  display: none;
}

#home #caroussel nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  cursor: default;
}

#home #caroussel nav ul li {
  display: inline-block;
  text-transform: uppercase;
  font-size: .7em;
  margin: 0 10px;
  color: #aaa;
  cursor: default;
}

#home #caroussel nav ul li a {
  display: inline-block;
  padding: 2px 0;
  text-decoration: none;
  color: #aaa;
  transition: .1s color;
  cursor: pointer;
}

#home #caroussel nav ul li a:hover {
  color: #777;
}

#home #caroussel nav ul li a.selected {
  border-bottom: 4px solid #e0e0e0;
  color: #111;
}

.products {
  width: 1024px;
  margin: auto;
}

.products ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

#home #caroussel .products ul {
  pointer-events: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
}

#home #caroussel .products ul.current {
  pointer-events: auto;
}

html.no-js #home #caroussel .products ul {
  pointer-events: auto;
  position: relative;
  left: auto;
  bottom: auto;
  margin: 0;
  overflow: visible;
}

.products ul li {
  display: inline-block;
  width: 200px;
  height: 200px;
  text-align: center;
  padding: 40px 0;
  cursor: pointer;
  background: url(../images/shadow.png) no-repeat;
  background-position: center 20px;
  transition: opacity 0.2s linear;
}

.products ul li a {
  color: inherit;
  text-decoration: none;
}

#home #caroussel .products ul li {
  -webkit-transform: translateX(1440px);
}

html.no-js #home #caroussel .products ul li  {
  -webkit-transform: none;
}

.products ul li img {
  width: 150px;
  margin: auto;
  margin-bottom: 10px;
  display: block;
  transition: .25s;
}

[data-category="Macaron"] img {
  width: 140px !important;
  margin-top: 10px !important;
}

[data-category="Pie"] img {
  width: 170px !important;
  margin-top: -20px !important;
}

[data-category="Cupcake"] img {
  width: 180px !important;
  margin-top: -30px !important;
}

.products ul li span,
.products ul li em {
  text-transform: uppercase;
  font-size: .9em;
  color: #222;
  opacity: 0;
  transition: .25s;
}

.products ul li em {
  font-family: 'Serif';
  color: #888;
  display: block;
}

.products ul li:hover span,
.products ul li:hover em {
  opacity: 1;
}

.products ul li:hover img {
  -webkit-transform: translateY(-20px);
}

#home #caroussel .products ul:empty::before {
  content: 'No products for this category';
  opacity: 0;
  transition: .45s opacity;
  line-height: 250px;
  color: #D5D5D5;
}

#home #caroussel .products ul.current:empty::before {
  opacity: 1;
}

#home #caroussel > p {
  text-align: center;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

#home #caroussel > p a {
  position: relative;
  width: 200px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: .7em;
  margin: 0 10px;
  color: #444;
  padding: 10px;
  transition: .1s;
}

#home #caroussel > p a::before {
  content: '\e800';
  font-family: 'Fontello';
  color: #636363;
  margin-right: 10px;
  font-size: 12px;
} 

#home #caroussel > p a::after {
  content: '';
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f8f8f8;
  position: absolute;
  left: 90px;
  bottom: -15px;
  transition: .1s;
}

#home #caroussel > p a:hover {
  color: #111;
  background: #eee;
}

#home #caroussel > p a:hover::after {
  border-top: 20px solid #eee;
}

#home #featured {
  width: 1024px;
  margin: 60px auto;
  height: 435px;
}

#home #featured > div {
  position: relative;
  width: 334px;
  height: 415px;
  margin-right: 11px;
  background: #f8f8f8;
  float: left;
  background-size: cover;
  overflow: hidden;
}

#home #featured > div:last-child {
  margin-right: 0;
}

#home #featured > div a {
  text-decoration: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,.3);
  transition: .25s;
}

#home #featured > div a:hover {
  background: rgba(0,0,0,.5);
}

#home #featured > div h3,
#home #featured > div p {
  margin: 0;
  padding: 0 10px;
}

#home #featured > div h3 span {
  width: 334px;
  height: 300px;
  font-size: 2em;
  margin: 0;
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
  color: #fff;
}

#home #featured > div p span,
#home #featured > div p em {
  width: 334px;
  height: 100px;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}

#home #featured > div.selection h3 + p::before {
  content: '';
  display: block;
  width: 80px;
  height: 3px;
  background: #fff;
  margin: 0 auto 10px auto;
  transition: .25s;
}

#home #featured > div.selection a:hover h3 + p::before {
  width: 160px;
}

#home #featured > div.special-offer h3 {
  margin-bottom: 13px;
}

#home #featured > div.special-offer h3 span {
  padding-top: 150px;
  height: 150px;
  font-size: 4em;
  line-height: 1em;
}


#home #featured > div.special-offer p em {
  font-family: 'Serif';
  font-size: 2em;
  transition: .25s;
}

#home #featured >div.special-offer a:hover p em {
  font-size: 2.5em;
}

#home #blog {
  clear: both;
  background: url(../images/bg-blogpost@2x.png);
  background-size: 221.5px 455px;
  padding: 25px 0 50px 0;
  text-align: center;
  color: #fff;
  margin-bottom: 60px;
}

#home #blog h2 {
  font-size: .8em;
  font-weight: normal;
  font-family: 'MavenPro';
}

#home #blog h2 a {
  font-family: 'Blanch';
  font-size: 2em;
  display: block;
  text-decoration: none;
  color: #fff;
}

#home #blog h2::after {
  content: '';
  width: 80px;
  height: 3px;
  display: block;
  margin: 5px auto;
  background: rgba(255,255,255,.2);
}

#home #blog a {
  text-decoration: none;
  color: #fff;
}

#home #blog h1 {
  font-size: 2.5em;
  margin: 20px auto 10px auto;
}

#home #blog p {
  width: 700px;
  margin: auto;
  font-size: 0.95em;
}

#home #blog a.more {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid rgba(255,255,255,.5);
  margin-top: 20px;
  font-size: 0.75em;
  transition: .1s;
}

#home #blog a.more:hover {
  background: rgba(255,255,255,.15);
}

/* ==========================================================================
   Caroussel Animation
   ========================================================================== */

#home #caroussel .products ul:first-child li,
html.no-js #home #caroussel .products ul li {
  -webkit-animation: scaleUp 500ms ease-in-out both;
}
 
@-webkit-keyframes scaleUp {
  0% { -webkit-transform: translateX(0); opacity: 0; }
  100% { -webkit-transform: translateX(0); opacity: 1; }
}

#home #caroussel .products ul:first-child li:first-child {
  -webkit-animation-delay: 90ms;
}
 
#home #caroussel .products ul:first-child li:nth-child(2) {
  -webkit-animation-delay: 180ms;
}
 
#home #caroussel .products ul:first-child li:nth-child(3) {
  -webkit-animation-delay: 270ms;
}
 
#home #caroussel .products ul:first-child li:nth-child(4) {
  -webkit-animation-delay: 360ms;
}

#home #caroussel .products ul:first-child li:nth-child(5) {
  -webkit-animation-delay: 450ms;
}

#home #caroussel .products ul.moveFromRight li {
  -webkit-animation: moveFromRight 350ms ease-in-out both;
}
 
#home #caroussel .products ul.moveFromLeft li {
  -webkit-animation: moveFromLeft 350ms ease-in-out both;
}
 
#home #caroussel .products ul.moveToRight li {
  -webkit-animation: moveToRight 350ms ease-in-out both;
}
 
#home #caroussel .products ul.moveToLeft li {
  -webkit-animation: moveToLeft 350ms ease-in-out both;
}

#home #caroussel .products ul.moveToLeft li:first-child,
#home #caroussel .products ul.moveFromRight li:first-child,
#home #caroussel .products ul.moveToRight li:nth-child(5),
#home #caroussel .products ul.moveFromLeft li:nth-child(5) {
  -webkit-animation-delay: 0ms;
}

#home #caroussel .products ul.moveToLeft li:nth-child(2),
#home #caroussel .products ul.moveFromRight li:nth-child(2),
#home #caroussel .products ul.moveToRight li:nth-child(4),
#home #caroussel .products ul.moveFromLeft li:nth-child(4) {
  -webkit-animation-delay: 90ms;
}
 
#home #caroussel .products ul.moveToLeft li:nth-child(3),
#home #caroussel .products ul.moveFromRight li:nth-child(3),
#home #caroussel .products ul.moveToRight li:nth-child(3),
#home #caroussel .products ul.moveFromLeft li:nth-child(3) {
  -webkit-animation-delay: 180ms;
}
 
#home #caroussel .products ul.moveToLeft li:nth-child(4),
#home #caroussel .products ul.moveFromRight li:nth-child(4),
#home #caroussel .products ul.moveToRight li:nth-child(2),
#home #caroussel .products ul.moveFromLeft li:nth-child(2)  {
  -webkit-animation-delay: 270ms;
}

#home #caroussel .products ul.moveToLeft li:nth-child(5),
#home #caroussel .products ul.moveFromRight li:nth-child(5),
#home #caroussel .products ul.moveToRight li:first-child,
#home #caroussel .products ul.moveFromLeft li:first-child  {
  -webkit-animation-delay: 350ms;
}

@-webkit-keyframes moveFromRight {
  0% { -webkit-transform: translateX(1440px); }
  100% { -webkit-transform: translateX(0); }
}
 
@-webkit-keyframes moveFromLeft {
  0% { -webkit-transform: translateX(-1440px); }
  100% { -webkit-transform: translateX(0); }
}
 
@-webkit-keyframes moveToRight {
  0% { -webkit-transform: translateX(0); }
  100% { -webkit-transform: translateX(1440px); }
}
 
@-webkit-keyframes moveToLeft {
  0% { -webkit-transform: translateX(0); }
  100% { -webkit-transform: translateX(-1440px); }
}

/* ==========================================================================
   Products list
   ========================================================================== */

#products #catalog {
  background: #f8f8f8;
  padding: 50px 0;
  min-height: 920px;
  position: relative;
}

#products #catalog ul li {
  padding-bottom: 0;
}

#products #catalog > p {
  text-align: center;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

#products #catalog > p a {
  position: relative;
  width: 200px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: .7em;
  margin: 0 10px;
  color: #444;
  padding: 10px;
  transition: .1s;
}

#products #catalog > p a::before {
  content: '\e802';
  font-family: 'Fontello';
  color: #636363;
  margin-right: 10px;
  font-size: 12px;
} 

#products #catalog > p a:hover {
  color: #111;
  background: #eee;
}

/* ==========================================================================
   Products detail
   ========================================================================== */

#product #detail {
  background: #f8f8f8;
  padding: 40px 0;
  height: 500px;
  position: relative;
}

#product #detail div {
  width: 1024px;
  margin: auto;
  position: relative;
}

#product #detail div img {
  width: 400px;
  position: absolute;
  left: 0;
  top: 0;
}

#product #detail div h4,
#product #detail div h3,
#product #detail div p {
  margin-left: 512px;
  text-align: center;
}

#product #detail div h4 {
  font-family: Serif;
  font-style: italic;
  color: #aaa;
  font-size: 1.6em;
  font-weight: normal;
  margin-bottom: 0;
}

#product #detail div h3 {
  font-size: 3em;
  margin-top: 0; 
  margin-bottom: 0;
}

#product #detail div p {
  font-size: .9em;
  padding: 0 30px;
}

#product #detail div p strong {
  font-size: 0;
  color: transparent;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
}

#product #detail div p strong::after {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  border: 8px solid rgba(255,255,255,.5);
  box-sizing: border-box;
}

#product #detail > p {
  text-align: center;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

#product #detail > p a {
  position: relative;
  width: 200px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: .7em;
  margin: 0 10px;
  color: #444;
  padding: 10px;
  transition: .1s;
}

#product #detail > p a::before {
  content: '\e800';
  font-family: 'Fontello';
  color: #636363;
  margin-right: 10px;
  font-size: 12px;
} 

#product #detail > p a:hover {
  color: #111;
  background: #eee;
}

#product #gallery {
  height: 450px;
  background-size: cover;
  background-position: center;
} 

/* ==========================================================================
   Page transitions
   ========================================================================== */

div.main > section:first-child {
  box-sizing:border-box;
  overflow: hidden;
  transition: .25s height;
}

div.main > section:first-child > *,
div.main > section:not(:first-child)  {
  transition: .25s opacity;
}

div.main.fade > section:first-child > *,
div.main.fade > section:not(:first-child)  {
  opacity: 0;
}

/*div.main > section:first-child::before {
  content: 'Please wait while loading';
  width: 200px;
  height: 50px;
  position: absolute;
  top: 140px;
  left: 50%;
  margin-left: -100px;
  background: url(../images/theloader.gif);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: top center;
  text-align: center;
  padding-top: 60px;
  color: #7A7A7A;
  font-size: .9em;
  pointer-events: none;
  opacity: 0;
  transition: .5s opacity;
}

div.main.fade > section:first-child::before {
  opacity: 1;
}*/

[data-to=products] > section {
  height: 920px !important;
}

[data-to=product] > section {
  height: 500px !important;
}

[data-to=home] > section {
  height: 380px !important;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


/**
 DISABLE TRANSITIONS & ANIMATIONS

*, *::before, *::after {
  /*CSS transitions*/
  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -ms-transition-property: none !important;
  -webkit-transition-property: none !important;
  transition-property: none !important;
  /*CSS transforms*/
  -o-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  /*CSS animations*/
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}

*/